<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>oneToOne 관계매핑 연습</title>
</head>
<body>
  <div align="center">
    <h3>JPA 데이터베이스 - @OneToOne 관계 매핑</h3>
    <h2>Product</h2>
    <table border="1" cellpadding="10">
      <tr>
        <th>아이디</th>
        <th>제품명</th>
        <th>가 격</th>
      </tr>
      <tr th:each="product : ${productList}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
      </tr>
    </table>
  </div>
</body>
</html>